{% extends 'layouts/common.twig' %}

{# game \App\Domain\Game\Game #}
{# author \App\Domain\User\User #}

{% macro numbers_box(hitNumbers) %}
    <div class="numbers-box">
        <ol>
            {% for num in hitNumbers %}
                <li class="hit-number">
                    {{ num }}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endmacro %}

{% block content %}
    <div class="author">
        {{ 'game.author' | trans }}
        {{ author.name }}
    </div>

    <div class="head">
        {{ 'game.numbers.hit' | trans }}({{ game.numbers.hit | length }})
    </div>
    {{ _self.numbers_box(game.numbers.hit) }}

    <div class="head">
        {{ 'game.numbers.left' | trans }}({{ game.numbers.left | length }})
    </div>
    {{ _self.numbers_box(game.numbers.left) }}

    <form action="/games/{{ game.id }}:drawLots" method="post">
        <button {{ attribute(game, 'isFinish') ? 'disabled' : '' }}>{{ 'game.drawLots' | trans }}</button>
    </form>
{% endblock %}
