{% extends 'layouts/common.twig' %}

{# game \App\Domain\Game\Game #}

{% block content %}
    Index Page
    {{ 'game.index' | trans }}

    <div class="head">
    {{ 'game.numbers.hit' | trans }}
</div>
    <div class="numbers">
        <ol class="numbers-items">
            {% for num in game.numbers.hit %}
                <li class="number-item">
                    {{ num }}
                </li>
            {% endfor %}
        </ol>
    </div>

    <div class="head">
        {{ 'game.numbers.left' | trans }}
    </div>
    <div class="numbers">
        <ol class="numbers-items">
            {% for num in game.numbers.left %}
                <li class="number-item">
                    {{ num }}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
